.green {
    background-color: rgb(195, 236, 223);
    padding: 3px;
    text-align: right;
}

input {
    text-align: right;
}   

td {
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
}