.green {
    background-color: rgb(214, 241, 233);
    padding: 3px;
    text-align: right;
}

input {
    text-align: right;
    background-color: lightgoldenrodyellow;
    padding: 2px;
    outline-width: 0px;
    border-width: 0px;
    border-radius: 4px;
}

div {
    margin: 20px;
}

img {
    width: 100px;
}

.qrcode {
    height: 100px;
}

.label {
    text-align: left;
}

td {
    text-align: right;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
    margin: 5px;
    height: 23px;
}

span {
    margin-left: 20px;
}

.trigg_saldo {
    width: 150px;
}

.progress-container {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.progress-text {
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.progress-bar {
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    background-color: rgb(148, 236, 236);
}

.smal {
    width: 60px;
}

.normal {
    background-color: white;
    transition-duration: 2s;
    transition-property: background-color;
}

.verynormal {
    background-color: rgb(244, 238, 238);
    transition-duration: 5s;
    transition-property: background-color;
}

.triggnormal {
    background-color: white;
    transition-duration: 16s;
    transition-property: background-color;
}

.hot {
    background-color: pink;
    transition-duration: 300ms;
    transition-property: background-color;
}

.veryhot {
    background-color: rgb(229, 26, 185);
    transition-duration: 300ms;
    transition-property: background-color;
}

.trigg {
    background-color: aquamarine;
    transition-duration: 30ms;
    transition-property: background-color;
}