.green {
    background-color: rgb(195, 236, 223);
    padding: 3px;
    text-align: right;
}

input {
    text-align: right;
    background-color: lightgoldenrodyellow;
}

img {
    width: 100px;
    height: 100px;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

span {
    margin-left: 20px;
}

.smal {
    width: 60px;
}

.normal {
    background-color: white;
    transition-duration: 2s;
    transition-property: background-color;
}

.verynormal {
    background-color: rgb(244, 238, 238);
    transition-duration: 5s;
    transition-property: background-color;
}

.triggnormal {
    background-color: white;
    transition-duration: 16s;
    transition-property: background-color;
}

.hot {
    background-color: pink;
    transition-duration: 300ms;
    transition-property: background-color;
}

.veryhot {
    background-color: rgb(229, 26, 185);
    transition-duration: 300ms;
    transition-property: background-color;
}

.trigg {
    background-color: aquamarine;
    transition-duration: 300ms;
    transition-property: background-color;
}