<h2>Test av TriggMe i deres Butikk/Tjenesteyting</h2>
<div *ngIf="!token">
  <p>User: <input type="text" [(ngModel)]="username"></p>
  <p>Pass: <input type="password" [(ngModel)]="password" (keyup.enter)="login()"></p>
  <p><button (click)="login()">Login</button><span> {{error}}</span></p>
</div>

<div *ngIf="token">
  <p><button (click)="token=null">Logut</button></p>
  <table>
    <tr>
      <td class="label">Valuta</td>
      <td>
        <select id="currency" [(ngModel)]="triggmebody.currency" (ngModelChange)="currencyChange()">
          <option *ngFor="let valuta of currencySymbols; let i=index;" [value]="valuta">{{
            currencyNames[i] }}</option>
        </select>
      </td>
      <td rowspan="4"><img src='{{"assets/"+triggmebody.currency+".png"}}'/></td>
    </tr>
    <tr>
      <td class="label">Partners valgte rabatt i %</td>
      <td><input type="number" [(ngModel)]="triggmebody.discount_level" (change)="setUp()"></td>
    </tr>
    <tr>
      <td class="label">Gjennomsnitt antall handler</td>
      <td class="green">{{triggmebody.average_purchase_count}}</td>
    </tr>
    <tr>
      <td class="label">Innkjøpspris i % i forhold til utsalgspris</td>
      <td><input type="number" [(ngModel)]="triggmebody.innkjopspris_prosent" (change)="setUp()"></td>
    </tr>
    <tr>
      <td class="label">Test kjøpesum</td>
      <td><input type="number" data-type="currency" [(ngModel)]="triggmebody.average_purchase" (change)="setUp()"></td>
    </tr>
    <tr>
      <td class="label">TriggMe avgift % </td>
      <td><input type="number" [(ngModel)]="triggmebody.humaniter_fee_prosent"></td>
    </tr>
    <tr>
      <td class="label">Humanitær avgift %</td>
      <td><input type="number" [(ngModel)]="triggmebody.triggme_fee_prosent"></td>
    </tr>
    <tr>
      <td><button (click)="simulatePurchase()">Simuler kjøp</button><input type="number" [(ngModel)]="simulate_count"
          class="smal"> </td>
      <td>
        <div class="progress-container">
          <div class="progress-bar" [ngStyle]="{'width.%':count_percent}"></div>
          <div class="progress-text">{{teller}}</div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label">Totalomsetning</td>
      <td class="green">{{triggmebody.currency}} {{triggmebody.total_purchase | number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td class="label">TriggMe avgift av totalomsetningen</td>
      <td class="green">{{triggmebody.currency}} {{triggmebody.total_acc_trigg_fee| number:'1.2-2'}}</td>
    </tr>
    <tr>
      <td class="label">Humanitær avgift av totalomsetningen</td>
      <td class="green">{{triggmebody.currency}} {{triggmebody.total_acc_humanitarian| number:'1.2-2'}}</td>
    </tr>
  </table>
  <div class="qr_wrapper" *ngIf="triggmebody.trigg_purchase.length>0 && triggmebody.trigg_purchase[0]>0.0">
  <table  class="qr_table">
    <tr>
      <td class="qr_label">Kjøpsbeløp ved tilgodelapp</td>
      <td class="green" *ngFor="let item of triggmebody.trigg_purchase">{{triggmebody.currency}} {{item| number:'1.2-2'}} </td>
    </tr>
    <tr>
      <td class="qr_label">Beløp på tilgodelapp</td>
      <td class="green" *ngFor="let item of triggmebody.tilgodelapp">{{triggmebody.currency}} {{item| number:'1.2-2'}} </td>
    </tr>
    <tr>
      <td class="qr_label">TriggMe avgifts beløp</td>
      <td class="green" *ngFor="let item of triggmebody.triggme_avgift">{{triggmebody.currency}} {{item| number:'1.2-2'}} </td>
    </tr>
    <tr>
      <td class="qr_label">Humanitært avgifts beløp</td>
      <td class="green" *ngFor="let item of triggmebody.humaniter_andel">{{triggmebody.currency}} {{item| number:'1.2-2'}} </td>
    </tr>
    <tr>
      <td class="qr_label">Reell kostnad for Partner </td>
      <td class="green" *ngFor="let item of triggmebody.last_cost">{{triggmebody.currency}} {{item| number:'1.2-2'}} </td>
    </tr>
    <tr>
      <td class="qr_label">Total omsetning på denne tilgodelappen</td>
      <td class="green" *ngFor="let item of triggmebody.trigg_total_purchase">{{triggmebody.currency}} {{item| number:'1.2-2'}} </td>
    </tr>
    <tr>
      <td class="qr_label">Reell kostnad for denne tilgodelappen i %</td>
      <td class="green" *ngFor="let item of triggmebody.trigg_purchase_percent"> {{item| number:'1.2-2'}} % </td>
    </tr>
    <tr>
      <td class="qr_label">QR-Code</td>
      <td class="green" *ngFor="let item of triggmebody.qrcode"> <img [src]="item">
      </td>
    </tr>
  </table></div>
  <p><button (click)="setUp()">Nullstill</button></p>
  <button (click)="showBuckets=!showBuckets" *ngIf="userAccess<3">Vis bøtter</button>
  <table *ngIf="showBuckets && userAccess<3">
    <!-- <th *ngFor="let item of bucketInput[0] | keyvalue" >{{item.key}}</th> -->
    <tr>
      <th>Id</th>
      <th>Nr</th>
      <th>Count</th>
      <th>Siste kjøpsbeløp</th>
      <th class="trigg_saldo">BøtteSaldo</th>
      <th>Siste rabattbeløp</th>
      <th>TriggFee</th>
      <th>Humanitarian</th>
      <th>sum TriggFee</th>
      <th>sum Humanitarian</th>
    </tr>
    <ng-container *ngFor="let bucket of bucketInput">
      <tr
        *ngIf="triggmebody.average_purchase<minimumBucketAmount || (triggmebody.average_purchase>=bucket.purchaseLimitLow && triggmebody.average_purchase<=bucket.purchaseLimitHigh)">
        <td>{{bucket.bucketId}}</td>
        <td>{{bucket.bucketNr}}</td>
        <td [ngClass]="{'veryhot':bucket.lastPurchaseHot , 'verynormal': !bucket.lastPurchaseHot }">{{bucket.buyCount}}
        </td>
        <td [ngClass]="{'hot':bucket.lastPurchaseHot , 'normal': !bucket.lastPurchaseHot }">{{triggmebody.currency}} {{bucket.lastPurchase| number:'1.2-2'}}</td>
        <td>
          <div class="progress-container">
            <div class="progress-bar" [ngStyle]="{'width.%':bucket.progress}"></div>
            <div class="progress-text">{{triggmebody.currency}} {{bucket.triggSaldo| number:'1.2-2'}}</div>
          </div>
        </td>
        <td [ngClass]="{'hot':bucket.triggSaldoHot , 'normal': !bucket.triggSaldoHot }">{{triggmebody.currency}} {{bucket.lastDiscountAmount| number:'1.2-2'}}
        </td>
        <td [ngClass]="{'trigg':bucket.humanitarianValueHot , 'triggnormal': !bucket.humanitarianValueHot }">
          {{triggmebody.currency}} {{bucket.triggMeFeeValue| number:'1.2-2'}}</td>
        <td [ngClass]="{'trigg':bucket.humanitarianValueHot , 'triggnormal': !bucket.humanitarianValueHot }">
          {{triggmebody.currency}} {{bucket.humanitarianValue| number:'1.2-2'}}</td>
        <td [ngClass]="{'trigg':bucket.humanitarianValueHot , 'triggnormal': !bucket.humanitarianValueHot }">
          {{triggmebody.currency}} {{bucket.accTriggFee| number:'1.2-2'}}</td>
        <td [ngClass]="{'trigg':bucket.humanitarianValueHot , 'triggnormal': !bucket.humanitarianValueHot }">
          {{triggmebody.currency}} {{bucket.accHumanitarian| number:'1.2-2'}}</td>
      </tr>
    </ng-container>
  </table>
</div>