

<table>
  <tr><td>Rabatt %</td><td><input type="number" [(ngModel)]="triggmebody.discount_level"></td></tr>
  <tr><td>Gjennomsnitt antall handler</td><td class="green">{{triggmebody.average_purchase_count}}</td></tr>
  <tr><td>Innkjøpspris %</td><td><input type="number" [(ngModel)]="triggmebody.innkjopspris_prosent"></td></tr>
  <tr><td>Typisk kjøpesum</td><td><input type="number" [(ngModel)]="triggmebody.average_purchase"></td></tr>
  <tr><td>Triggme avgift % </td><td><input type="number" [(ngModel)]="triggmebody.humaniter_fee_prosent"></td></tr>
  <tr><td>Humanitær %</td><td><input type="number" [(ngModel)]="triggmebody.triggme_fee_prosent"></td></tr>
  <tr><td>Totalomsetning</td><td class="green">{{triggmebody.total_purchase}}</td></tr>
  </table>
  <table>
  <tr><td>Kjøpsbeløp ved tilgodelapp</td><td class="green" *ngFor="let item of triggmebody.trigg_purchase"> {{item}} </td></tr>
  <tr><td>Tilgodelapp beløp</td><td class="green" *ngFor="let item of triggmebody.tilgodelapp"> {{item}} </td></tr>
  <tr><td>Triggme avgift beløp</td><td class="green" *ngFor="let item of triggmebody.triggme_avgift"> {{item}} </td></tr>
  <tr><td>Humanitært beløp</td><td class="green" *ngFor="let item of triggmebody.humaniter_andel"> {{item}} </td></tr>
</table>
<p><button (click)="getBuckets()">Lag bøtter</button></p>
<p><button (click)="simulatePurchase()">Simuler </button><input type="number" [(ngModel)]="simulate_count" class="smal"> kjøp<span>{{teller}}</span><span>{{last_purchase.lastPurchase}}</span></p>
<img *ngIf="showImage" src=""{{qrCode}}/>
<table>
  <!-- <th *ngFor="let item of bucketInput[0] | keyvalue" >{{item.key}}</th> -->
  <tr><td>Id</td><td>Count</td><td>lastPurchase</td><td>triggSaldo</td><td>tippingValue</td>
    <td>TriggFee</td><td>Humanitarian</td></tr>
  <tr *ngFor="let bucket of bucketInput">
    <!-- <td *ngFor="let item of bucket | keyvalue; let i=index;" [ngStyle]="{'background-color': bucket[i] > 0 ? 'pink':'white'}">{{item.value}}</td> -->
    <td>{{bucket.bucketId}}</td>
    <td [ngClass]="{'hot':bucket.lastPurchaseHot , 'normal': !bucket.lastPurchaseHot }">{{bucket.buyCount}}</td>
    <td [ngClass]="{'hot':bucket.lastPurchaseHot , 'normal': !bucket.lastPurchaseHot }">{{bucket.lastPurchase}}</td>
    <td [ngClass]="{'hot':bucket.triggSaldoHot , 'normal': !bucket.triggSaldoHot }">{{bucket.triggSaldo}}</td><td>{{bucket.tippingValue}}</td>
    <td [ngClass]="{'trigg':bucket.triggMeFeeValueHot , 'triggnormal': !bucket.triggMeFeeValueHot }">{{bucket.triggMeFeeValue}}</td>
    <td [ngClass]="{'trigg':bucket.humanitarianValueHot , 'triggnormal': !bucket.humanitarianValueHot }">{{bucket.humanitarianValue}}</td>
  </tr>
</table>
